@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* 👇 Custom animation keyframes */
@layer utilities {
  @keyframes traversed {
    0% {
      transform: scale(0.3);
      background-color: #9333eabf;
      border-radius: 100%;
    }
    50% {
      background-color: #4f46e5bf;
    }
    75% {
      transform: scale(1.2);
      background-color: #3b82f6bf;
    }
    100% {
      transform: scale(1);
      background-color: #22d3ee;
    }
  }

  @keyframes path {
    0% {
      transform: scale(0.3);
      background-color: #e11d48bf;
      border-radius: 100%;
    }
    50% {
      background-color: #ea580cbf;
    }
    75% {
      transform: scale(1.2);
      background-color: #fb923cbf;
    }
    90% {
      transform: scale(0.8);
      background-color: #fde68a;
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes wall {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }

  /* 👇 Register utility classes for those animations */
  .animate-traversed {
    animation: traversed 0.5s cubic-bezier(0, 0, 0.2, 1);
  }

  .animate-path {
    animation: path 1.5s cubic-bezier(0, 0, 0.2, 1);
  }

  .animate-wall {
    animation: wall 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility screen {
  @apply h-screen w-screen;
}
